.nav {
  display: flex;
}
.nav a {
  color: white;
  background-color:blue;
  padding: 10px;
  margin: 1px;
  border-radius: 4px;
}

.nav a:hover {
  color: white;
  background-color:rgb(115, 115, 252);
  text-decoration: none;
  transition: 0.3s;
}

.subnav {
  display: flex;
}

.subnav a {
  color: white;
  background-color:blue;
  padding: 5px;
  margin: 1px;
  border-radius: 4px;
  font-size: .80rem;
}

.subnav a:hover {
  color: white;
  background-color:rgb(115, 115, 252);
  text-decoration: none;
  transition: 0.3s;
}


