@using PierreIdentity.Models;
@model IEnumerable<PierreIdentity.Models.Treat>

<div class="subnav">
  <p>@Html.ActionLink("Add new Treat", "Create")</p>
</div>
<h1>Treats</h1>

@if(Model.Any())
{
  <ul>
    @foreach(Treat treat in Model)
    {
      <li>@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId })</li>
    }
  </ul>
}
else
{
  <p>Nothing added yet</p>
}
